:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-image: url('@/assets/background.jpg'); /* Adjust the path accordingly */
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #000000;
  text-decoration: inherit;
}
a:hover {
  color: #000000;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

#app {
  max-width: 1600px;
  margin: 0 auto;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

#topbar {
  background-color: rgba(245, 245, 245, 0.8); 
  width: inherit;
  border-radius: 25px;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  color:#000000;
}

#rcorners_matchinfo_fixed {
  width: 100%;
  border-radius: 25px;
  font-size: 20px;
  font-weight: bold;
  position: relative;
}

#placeholderDiv_fixed {
  width: 100%;
  display: flex;
  padding: 10px; /* Add padding inside the boxes */
}

#datumUitslag_fixed,
#thuisteam_fixed,
#kleedkamer_fixed, /* Updated to use class instead of id */
#uitteam_fixed,
#wedstrijdveld_fixed {
  font-weight: bold;
  color: #ffffff; /* White text */
}

#datumUitslag_fixed {
  width: 10%;
  background: #b40808; /* WVV red */
  padding: 18px 15px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  text-align: center;
}

#datumProgramma_fixed {
  width: 10%;
  background: #b40808; /* WVV red */
  padding: 5px 15px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  text-align: center;
}

#thuisteam_fixed,
#uitteam_fixed {
  width: 45%; /* Fixed width for team names */
  background: #000000; /* Black background */
  padding: 18px 15px;
}

#kleedkamer_fixed {
  width: 20%; /* Fixed width for dressing rooms */
  background: #de0b0b; /* WVV red */
  padding: 18px 15px;
}

#wedstrijdveld_fixed {
  width: 15%; /* Fixed width for field info */
  background: #b40808; /* WVV red */
  padding: 18px 15px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

#noMatchMessage {
  text-align: center; /* Center the message and image */
  margin-top: 20px; /* Add some space above the message */
  background-color: white;
  border-radius: 25px;
  color: #000000;
  padding-top: 10px;
}

#noMatchMessage img {
  width: auto; /* Adjust size as needed */
  height: auto; /* Maintain aspect ratio */
}

#noMatchMessage h1 {
  font-size: 24px; /* Adjust the font size */
  margin-top: 10px; /* Space between image and text */
  padding-bottom: 10px;
}

#scrollingContainer {
  overflow-y: hidden; /* Disable vertical scrolling since we handle it manually */
  position: relative;
}

.matchEntry {
  display: flex; /* Align matches horizontally */
  color: white; /* Text color */
  padding: 10px; /* Padding inside the match entry */
  border-radius: 5px; /* Rounded corners */
}

.fade-enter-active, .fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

#clublogo {
  width: 10%; /* or set a specific pixel size if necessary */
  max-width: 75px; /* Set the maximum width */
  max-height: 75px; /* Set the maximum height */
  object-fit: contain; /* Ensure image scales to fit within the bounds */
  background-color: #000000;
  display: block; /* Ensure no unexpected margin/padding */
}

.sponsor-bar-container {
  overflow: hidden;
  width: 100%;
  background-color: transparent;
  display: flex;
  flex-direction: column; /* Stack elements vertically */
}

.sponsor-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; /* Allow items to wrap to the next line */
}

.sponsor-images {
  display: flex;
  flex-wrap: wrap; /* Allow images to wrap to the next line */
  justify-content: space-between; /* Evenly space images */
  width: 100%; /* Ensure full width */
}

.sponsor-image {
  height: 40px; /* Set height of images to 40px */
  margin: 5px; /* Space between images */
  flex: 1 1 calc(14.2857% - 10px); /* 7 images per row, adjust for margin */
  max-width: calc(14.2857% - 10px); /* Set max-width for 7 images */
  background-color: rgba(245, 245, 245, 0.8); ;
}

.copyright {
  font-size: 14px;
  color: #000;
  text-align: center;
  padding: 10px;
  margin-top: 5px;
  background-color: rgba(245, 245, 245, 0.8);
  border-radius: 25px;
}